.index {
    @include adaptiveValue("padding-top", 40, 20);
    @include adaptiveValue("padding-bottom", 50, 40);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: $color-black-solid;

    &__header {
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 60px;
        line-height: 1.3;
        font-size: 18px;
    }

    &__work-type {
        text-align: center;
        margin-bottom: 50px;
    }

    &__label {
        font-size: 32px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__topic-label {
        font-size: 20px;
        margin-bottom: 15px;
    }

    &__main-title {
        font-size: 28px;
        font-weight: 700;
        max-width: 800px;
        margin: 0 auto;
        line-height: 1.4;
    }

    &__authorship {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @include adaptiveValue("margin-top", 80, 40);
        @include adaptiveValue("margin-bottom", 80, 40);
        padding-right: 10%;
        font-size: 20px;
        line-height: 1.6;

        .authorship__student {
            margin-bottom: 30px;
            text-align: left;
            min-width: 250px;
        }

        .authorship__mentors {
            text-align: left;
            min-width: 250px;
        }
    }

    &__footer {
        text-align: center;
        font-size: 20px;
        line-height: 1.5;
        margin-top: 50px;
    }
}

@media (max-width: $mobileSmall) {
    .index__authorship {
        align-items: center;
        padding-right: 0;
        text-align: center;
        
        .authorship__student, .authorship__mentors {
            text-align: center;
        }
    }
}