.index {
    @include adaptiveValue("padding-bottom", 50, 40);

    &__paragraph {
        display: block; 
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 22px;
        line-height: 1.5;
        text-align: justify;
        text-indent: 1.27cm;
        margin: 10px 80px;
        color: $color-black-solid;
    }

    &__list {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 22px;
        line-height: 1.5;
        color: $color-black-solid;
        
        margin: 10px 20px 20px 40px; 
        @media (min-width: 992px) {
            margin: 10px 80px 20px 120px;
        }

        list-style-type: disc;

        li {
            margin-bottom: 10px;
            padding-left: 5px;
            text-align: left;
        }
    }
}

.subtitle {
    display: block;
    font-size: 25px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 30px auto 10px auto;
    text-align: center;
    color: $color-black-solid;
}