.index {
    @include adaptiveValue("padding-bottom", 50, 40);

    &__paragraph {
        display: flex;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 22px;
        line-height: 1.5;
        text-align: justify;
        text-indent: 1.27cm;
        margin: 10px 80px;
        color: $color-black-solid;
    }
}

.subtitle {
    display: block;
    font-size: 30px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px auto;
    text-align: center;
    color: $color-black-solid;
}