.people {
    @include adaptiveValue("padding-bottom", 50, 40);

    &__paragraph {
        display: flex;
        content: '';
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 22px;
        line-height: 1.5;
        text-align: justify;
        text-indent: 1.27cm;
        margin: 10px 80px;
        color: $color-black-solid;
    }

    &__photo {
        text-align: center;
        margin: 30px 0;

        img {
            display: inline-block;
            max-width: 70%;
            height: auto;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
        }

        .people__subtitle {
            font-size: 18px;
            font-style: italic;
            margin: 10px 80px;
            color: $color-black-solid;
        }
    }

    &__link {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: toRem(20);
        padding: 0 20px 20px;
        background-color: #ac3c1dcc;
    }

    &__name {
        font-family: $font-family;
        font-weight: 400;
        font-size: 20px;
        line-height: 126%;
        text-align: center;
        color: $color-black-solid;
    }

    &__wrapper {
        margin-bottom: 40px;
    }

    &__pagination {
        display: flex;
        justify-content: center;
        gap: 10px;

        & .swiper-pagination-bullet {
            width: 20px;
            height: 20px;
            background-color: $color-blue-13;
            border-radius: 50%;

            &.swiper-pagination-bullet-active {
                background-color: #ac3c1dcc;
            }
        }
    }
}

.subtitle {
    display: block;
    font-size: 30px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 10px auto;
    text-align: center;
    color: $color-black-solid;
}