%ic {
	font-family: "icons";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class*="_icon-"] {
	&::before {
		@extend %ic;
	}
}


._icon-map:before {
	content: "\e900";
}

._icon-images:before {
	content: "\e90e";
}

._icon-video-camera:before {
	content: "\e914";
}

._icon-undo2:before {
	content: "\e967";
}

._icon-search:before {
	content: "\e986";
}

._icon-link:before {
	content: "\e9cb";
}

._icon-play3:before {
	content: "\ea1c";
}

._icon-pause2:before {
	content: "\ea1d";
}

._icon-volume-high:before {
	content: "\ea26";
}

._icon-volume-mute2:before {
	content: "\ea2a";
}