.title {
    font-family: $third-family;
    font-weight: 400;
    font-size: 22px;
    line-height: 129%;
    text-align: center;
    color: $color-grey-20;

    &.title-h2 {
        font-size: 38px;
        text-align: center;

        &::after {
            content: '';
            background-color: $color-red-39;
            width: 41px;
            height: 1px;
            margin: 15px auto 30px;
            display: block;
        }
    }
}

body {
    background-color: #e7e4dc;
}