@use "sass:math";

@import "base/mixins";
@import "fonts/fonts";
@import "fonts/icons";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Yeseva+One:regular);

$font-family: "Open Sans", sans-serif;
$second-family: "Inter", sans-serif;
$third-family: "Yeseva One", sans-serif;
$fontSize: toRem(14); 
$mainColor: #000;
$color-grey-13: #212121;
$color-grey-26: #424242;
$color-grey-46: #757575;
$color-grey-70: #b3b3b3;
$color-white-solid: #fff;
$color-red-49: #d84c24;
$color-red-39: #ac3d1d;
$color-grey-83: #d3d3d3;
$color-grey-27: #454545;
$color-grey-96: #f5f5f5;
$color-black-solid: #000;
$color-grey-60: #999;
$color-grey-80-500: rgba(203, 203, 203, 0.5);
$color-blue-13: #080938;
$color-grey-40: #666;
$color-grey-20: #333;
$color-red-36: #843534;
$color-red-46: #a94442;
$color-black--940: rgba(0, 0, 0, 0.94);
$color-black--0: rgba(0, 0, 0, 0);
$color-grey-85: #d9d9d9;
$color-grey-80: #ccc;
$color-grey-93: #eee;
$color-red-32: #8b3117;
$color-grey-83-200: rgba(211, 211, 211, 0.2);
$color-grey-47: #777;

$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1720;
$containerPadding: 30;

$containerWidth: $maxWidthContainer + $containerPadding;

$pc: toEm($containerWidth); 
$tablet: toEm(991.98); 
$mobile: toEm(767.98); 
$mobileSmall: toEm(479.98); 
$responsiveType: 1;

@import "base/null";

body {
	.lock & {
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
	// .loaded & {
	// }
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@supports (overflow: clip) {
		overflow: clip;
	}
	> main {
		flex: 1 1 auto;
	}
	> * {
		min-width: 0;
	}
}

@if ($responsiveType==1) {
	[class*="__container"] {
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
			margin: 0 auto;
		}
		@if ($containerPadding>0) {
			@if ($maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			} @else {
				@include adaptiveValue("padding-left", math.div($containerPadding, 2), 15);
				@include adaptiveValue("padding-right", math.div($containerPadding, 2), 15);
			}
		}
	}
} @else {
	[class*="__container"] {
		margin: 0 auto;
		@if ($maxWidthContainer>0) {
			max-width: toRem($containerWidth);
		} @else {
			@if ($containerPadding>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
		@media (max-width: $pc) {
			max-width: toRem(970);
		}
		@media (max-width: $tablet) {
			max-width: toRem(750);
		}
		@media (max-width: $mobile) {
			max-width: none;
			@if ($containerPadding>0 and $maxWidthContainer>0) {
				padding: 0 toRem(math.div($containerPadding, 2));
			}
		}
	}
}

@import "base";

@import "common";

@import "header";
@import "footer";

@import "home";

//blocks

@import 'blocks/war.scss';

@import 'blocks/people.scss';

@import 'blocks/ukr.scss';

@import 'blocks/materials.scss';

@import 'blocks/test.scss';

@import 'blocks/index.scss';